body{
	background: url("http://demo.cocobasic.com/blanka-html/images/hero_img2.jpg") no-repeat fixed center center;
	color: white;
}
h3{
	text-align: center;
}
h1{
	margin-top:150px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
}
.container{
	padding-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}
#instruction{
	margin-top:200px;
	margin-bottom:200px;
}
.row{
	text-align: center;
}
p{
	padding-top: 50px;
	font-size: 30px;
}
a.button {
    display: inline-block;
    color: #fff !important;
    background-color: #e625a4;
    text-align: left;
    padding-bottom: 17px;
    padding-top: 17px;
    padding-left: 40px;
    padding-right: 35px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    transition: all .2s linear;
    margin-top: 100px;
    margin-bottom: 17px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0px 0px 50px 0px rgba(230,37,164,0.65);
}
a:hover{
	box-shadow: 5px 5px 50px 5px rgba(230,37,164,0.65);
}